<div class="contactame-container">
  <h1 class="titulo-trabajos">CONTÁCTAME</h1>
  <div class="second-bg"></div>
  <form class="contac-form-container">
    <!-- <h2 class="form-title">Formulario de contacto</h2> -->
    <!-- <div class="form-input-box">
      <label class="general-label" for="">Nombres</label>
      <input class="text-input" placeholder="Nombres completos" type="text" name="" id="">
      <span class="txt-error"></span>
    </div>
    <div class="form-input-box">
      <label class="general-label" for="">Apellidos</label>
      <input class="text-input" placeholder="Apellidos completos" type="text" name="" id="">
      <span class="txt-error"></span>
    </div>
    <div class="form-input-box">
      <label class="general-label" for="">Asunto</label>
      <input class="text-input" placeholder="Asunto del mensaje" type="text" name="" id="">
      <span class="txt-error"></span>
    </div>
    <div class="form-input-box">
      <label class="general-label" for="">Correo electrónico</label>
      <input class="text-input" placeholder="Correo electrónico" type="text" name="" id="">
      <span class="txt-error"></span>
    </div>
    <div class="form-textarea-box">
      <label class="general-label" for="">Mensaje</label>
      <textarea class="textarea-input" placeholder="Escribe tu mensaje aquí" name="" id="" rows="3"></textarea>
      <span class="txt-error"></span>
    </div> -->

    <div class="info-contact-container">
      <p class="title-contact">Número telefónico:</p>
      <p class="info-contact">3505880260</p>
    </div>

    <div class="info-contact-container">
      <p class="title-contact">Correo electrónico:</p>
      <p class="info-contact">ricardohung92@gmail.com</p>
    </div>

    <div class="info-contact-container">
      <p class="title-contact">Redes sociales:</p>
      <p class="info-contact">1019073994</p>
    </div>

    <!-- <div class="buttons-container">
      <button class="btn-cancel">LIMPIAR</button>
      <button type="submit" class="btn-ok">ENVIAR</button>
    </div> -->

  </form>
</div>
