<div class="contactame-container">
  <div class="second-bg"></div>
  <form
    class="contac-form-container"
    [formGroup]="contactForm"
    (ngSubmit)="onFormSubmit()"
  >
    <h2 class="title-contact">
      {{ "contactameComponent.formTitle" | translate }}
    </h2>

    <div class="form-input-box">
      <label class="general-label" for="nombres">{{
        "form.label1" | translate
      }}</label>
      <input
        class="text-input"
        [placeholder]="'form.label1' | translate"
        type="text"
        id="nombres"
        formControlName="names"
      />
      <span class="txt-error"></span>
    </div>

    <div class="form-input-box">
      <label class="general-label" for="apellidos">{{
        "form.label2" | translate
      }}</label>
      <input
        class="text-input"
        [placeholder]="'form.label2' | translate"
        type="text"
        id="apellidos"
        formControlName="lastNames"
      />
      <span class="txt-error"></span>
    </div>

    <div class="form-input-box">
      <label class="general-label" for="telefono">{{
        "form.label3" | translate
      }}</label>
      <input
        class="text-input"
        [placeholder]="'form.label3' | translate"
        type="text"
        id="telefono"
        formControlName="phoneNumber"
      />
      <span class="txt-error"></span>
    </div>

    <div class="form-input-box">
      <label class="general-label" for="email">{{
        "form.label4" | translate
      }}</label>
      <input
        class="text-input"
        [placeholder]="'form.label4' | translate"
        type="text"
        id="email"
        formControlName="email"
      />
      <span class="txt-error"></span>
    </div>

    <div class="form-textarea-box">
      <label class="general-label" for="mensaje">{{
        "form.label5" | translate
      }}</label>
      <textarea
        class="textarea-input"
        [placeholder]="'form.placeholer1' | translate"
        id="mensaje"
        rows="3"
        formControlName="message"
      ></textarea>
      <span class="txt-error"></span>
    </div>

    <div class="buttons-container">
      <button class="btn-cancel" (click)="clearForm()">
        {{ "form.clarButton" | translate | uppercase }}
      </button>
      <button
        type="submit"
        [class]="!contactForm.valid ? 'btn-disabled' : 'btn-ok'"
      >
        {{ "form.sendButton" | translate | uppercase }}
      </button>
    </div>
  </form>
</div>
<app-loading *ngIf="isLoading"></app-loading>
