<div class="headerContainer">
  <div class="header">
    <div class='RHL-logo'></div>
    <ul class="optionsContainer">
      <li><a class="headerOption">Mis trabajos</a></li>
      <li><a class="headerOption">Conocimientos</a></li>
      <li><a class="headerOption">Hablemos</a></li>
    </ul>
    <div class="lenguajeContainer">
      <div class="card3D">
        <div class="lenguajeCard">
          <div class="frontFace"></div>
          <div class="backFace"></div>
        </div>
      </div>
    </div>
  </div>
</div>
