<div class="aptitudes-container">
  <div class="tarjeta-aptitudes">
    <div class="aptitud-container"></div>
    <div class="aptitud-container"></div>
    <div class="aptitud-container"></div>
    <div class="aptitud-container"></div>
    <div class="aptitud-container"></div>
    <div class="aptitud-container"></div>
    <div class="aptitud-container"></div>
    <div class="aptitud-container"></div>
    <div class="aptitud-container"></div>
    <!-- <div class="aptitud-container"></div> -->
    <div class="aptitud-container"></div>
    <!-- <div class="aptitud-container"></div> -->
  </div>
  <div class="tarjeta-aptitudes">
    <div class="aptitud-container"></div>
    <div class="aptitud-container"></div>
    <div class="aptitud-container"></div>
    <div class="aptitud-container"></div>
    <div class="aptitud-container"></div>
    <div class="aptitud-container"></div>
    <div class="aptitud-container"></div>
  </div>
</div>
