@import '../../../../../assets/css/basics/variables.scss';

.trabajos-container {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  padding-top: 70px;


  .titulo-trabajos {
    width: 100%;
    height: 30px;
    margin: 0;
    color: $colorSecundario;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tarjetas-container {
    perspective: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .carousel {
      max-width: 100%;
    }

    .tarjeta-trabajo {
      position: relative;
      width: 44%;
      height: 300px;
      margin: 0 20px 20px 20px;
      border-radius: 10px;
      overflow: hidden;
      -webkit-box-shadow: 10px 10px 10px 1px #0000002e;
      -moz-box-shadow: 10px 10px 10px 1px #0000002e;
      box-shadow: 10px 10px 10px 1px #0000002e;
      transition: all 0.5s;

      &:hover {
        .text-container {
          bottom: 0;
        }

        .back-img {
          transform: scale(1.1);
        }
      }

      .back-img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        transition: all 0.5s;
      }

      .text-container {
        position: relative;
        bottom: -100%;
        width: 100%;
        height: 100%;
        padding: 40px;
        border: 4px solid $colorPrincipal;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        background-color: #000000af;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;

        &:hover {
          bottom: 0;
        }

        h2 {
          display: block;
          margin: 0;
          font-size: 2em;
          text-align: center;
          color: $colorPrincipal;
        }

        p {
          margin: 0;
          text-align: center;
        }

        a {
          margin: 0;
          color: #fff;
          text-align: center;
          text-decoration: none;
          transition: all 0.5s;

          &:hover {
            color: #045b8e;
          }
        }
      }
    }
  }

}

@media (max-width: 992px) {
  .tarjeta-trabajo {
    height: 400px !important;
  }
}
