<div class="trabajos-container">
  <h1 class="titulo-trabajos">{{'trabajosComponent.title' | translate}}</h1>
  <div class="tarjetas-container">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem class="tarjeta-trabajo" *ngFor="let tarjeta of tarjetasExp">
        <img class="back-img" src={{tarjeta.imagen}} alt="">
        <div class="text-container">
          <h2>{{tarjeta.titulo}}</h2>
          <p>{{tarjeta.descripcion}}</p>
          <a href="{{tarjeta.link}}" target="_blank">Visitar página</a>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>

</div>
