<div class="inicioPresentacionContainer">
  <div class="informationContainer">
    <div class="picture"></div>
    <div class="information">
      <h1>{{ "inicioComponent.txt1" | translate }}</h1>
      <h2>{{ "inicioComponent.txt2" | translate: { years: years } }}</h2>
      <div class="inicioPresentacionContainer__buttons-container">
        <app-icon-button
          [buttonText]="'inicioComponent.cvButton' | translate"
          buttonIconUrl="../../../assets/img/icons/file-download.svg"
          (clickEvent)="redirect('cv')"
        ></app-icon-button>
        <app-icon-button
          buttonText="Linkedin"
          buttonIconUrl="../../../assets/img/icons/linkedin.svg"
          (clickEvent)="redirect('https://www.linkedin.com/in/rjh92/')"
        ></app-icon-button>
        <app-icon-button
          buttonText="Github"
          buttonIconUrl="../../../assets/img/icons/github.svg"
          (clickEvent)="redirect('https://github.com/RicardoHungJS')"
        ></app-icon-button>
      </div>
    </div>
  </div>
</div>
