<div class="inicioPresentacionContainer">
  <div class="backgroundDiagonal"></div>
  <div class="informationContainer">
    <div class="picture"></div>
    <div class="information">
      <h1>¡Hola! Soy Ricardo.</h1>
      <h2>Desarrollador frontend. 😏</h2>
      <p>Tengo dos años de experiencia como desarrollador frontend, trabajando para importantes compañías y participando
        actívamente en proyectos de gran envergadura, colaborando con grandes profesionales con los que me he forjado
        como programador, profesional y de los cuales sigo aprendiendo a ser mejor persona.</p>
    </div>
  </div>
</div>
